/VocabularyTrainerGui/build/
/VocabularyTrainerGui/dist/
/VocabularyTrainerGui/nbproject/
/VocabularyTrainerGui/.dep.inc
/VocabularyTrainerGui/Makefile
/VocabularyTrainerGui/moc_*
/VocabularyTrainerGui/*.kate-swp
*.o
*.pro
VocabularyTrainerGui/VocabularyTrainerGui
*.vpp.working*
*.vpp~*
VocabularyTrainerJava/target/*
*.class
