 .menuFrame {
   border: 5px solid white;
   background-color: green;
   text-align: center;
   border-radius: 25px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: white;
   margin: auto;
   margin-top: 20px
 }
 
.menuTextClickable {
  color: white;
  cursor: pointer;
}

.menuTextClickable:hover {
  cursor: pointer;
  background-color: #003300;
}

#alfabet {
  width: 400px;
}

#greetings {
  width: 300px;
}

#numbers1 {
  width: 50px;
}

.font1_3 {
  font-size: 1.3em;
}

td {
	text-align: center;
}

table {
	margin: auto;
}